body {
	margin: 0;
     padding: 0;
		 width:100%;

}
header {
  background-image:url('img/Ocean3.jpeg');
  background-size:cover;
  text-align: center;
  font-size:100%;
	height:100%;
}
.dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		right:0;
		text-align:right;
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {background-color: #f1f1f1}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color:transparent;
}

a:link{color:white; text-decoration:none;} /*未访问链接*/
a:visited{color:white; text-decoration:none;} /*已访问过的链接*/
a:hover{color:#C9CBCC;text-decoration:none;}/*当用户把鼠标放在链接上时*/
a:active{color:white; text-decoration:none;}/*链接被点击的那一刻*/

.menu {
	width:100%;
	height:20%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	color:white;
	text-align:center;
	font-size:2em;
}
.physicscontent{
	margin:50px;
	text-align:left;
	font-size:0.9em;
}

.title{
	position:relative;
	height:20%;
	color:white;
	width:100%;
	font-size:1em;
	text-align:center;
	padding:0px;

}

.a{
	width:50%;
	height:100%;
	background-image: url('img/Ocean10.jpeg');
	background-size: cover;
	color:white;
	font-size:1.5em;
	float:left;


}

.b{
	width:50%;
	height:100%;
	background-image: url('img/Ocean11.jpeg');
	background-size: cover;
	color:white;
	font-size:1.5em;
	float:right;
}


.btn {
	display: block;
  border: 5px solid #FFF;
  background: rgba(255,255,255,0);
  width: 20vw;
  line-height:3rem;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background .25s;
  color: #FFF;
}
.btn:hover {
	color: #FFF;
	background: rgba(255,255,255,0.3);
}

h1{
    color:white;
    text-transform:uppercase;
	font-size:4em;
	margin:0;
}



.introduction{
	background-color:white;
	padding:275px;

}
.physics{
 	margin:0;
}

.video{
	width: 100%;
	text-align:center;
	margin-bottom:50px;
}
.Gyre{
	height:100%;
}
.Gyre_background{
	margin:0;
    width:100%;
	object-fit:cover;
}

.subtitle{
	color:black;
	font-size:2em;
	font-weight:bold;
	position:relative;
	right:-6em;
	bottom:-3em;
}

.Deep{
    background-image:url('img/Ocean3.jpeg');
    background-size:cover;
    text-align: center;
    font-size:100%;
    padding: 275px;
}
.Sixsea{
		width:100%;
		height:100%;
    background-image:url('img/Ocean13.jpeg');
    background-size:cover;
    text-align:center;
    font-size:2.5em;
		font-weight:bold;
		color:white;

}
.Formation{
		width:100%;
		height:100%;
    background-image:url('img/Ocean12.jpeg');
    background-size:cover;
    text-align:center;
    font-size:2.5em;
		color:white;
		font-weight:bold;

}
#picture{
	width:80%;
	height:80%;
	background-image:url('img/Ocean9.jpeg');
	background-size:cover;
	margin-top:30px;
	margin-left: auto;
  margin-right: auto;
}

.Question{
	width:100%;
	height:100%;
	text-align:center;

	background-image:url('img/Ocean7.jpeg');
	background-size:cover;
}

footer {
  left: 0;
  bottom: 0;
  padding:1.3rem;
  background-color: #F5F5F7;
  color: black;
  text-align: center;
}

.Picture{
	width:80%;
}


#copyright{
	color:#868681;
	text-align:center;
	width:100%;

}


#JWWWWWW a:link{color:#868681; text-decoration:none;} /*未访问链接*/
#JWWWWWW a:visited{color:#868681; text-decoration:none;} /*已访问过的链接*/
#JWWWWWW a:hover{color:#C9CBCC;text-decoration:none;}/*当用户把鼠标放在链接上时*/
#JWWWWWW a:active{color:white; text-decoration:none;}/*链接被点击的那一刻*/

#JWWWWWW {
	float:right;
	text-align:right;
	color:#868681;
}
